@header-font: monaca;
@color-orange: #ff9900;

h1, h2 {
  font-family: @header-font;
}

h2 {
  color: @color-orange;
}

dt, dd {
  display: inline;
}

.info {
  display: inline;
  color: red;
}

label[for="query"] {
  display: none;
}

body {
  text-align: center;
}

input[type="submit"] {
  width: 200px;
}
